.count-down {
  background-color: rgb(163, 194, 235);
  border-color: rgba(41, 20, 231, 0.8);
  border-style: double;
  border-width: 16px;
  width: 350px;
  text-align: center;
}

.count-down h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.25rem;
  font-weight: 500;
}

.seconds-highlight {
  color: '#bf283f';
} 